<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <clear />
                <rule name="其它">
                    <match url="^(so|txt|wap|wap_touch|697_admin|member|697_collection|697_LocoySpider|697_QC_Loader|author|install)/$" ignoreCase="false" />
                    <action type="Rewrite" url="/{R:1}/index.php" />
                </rule>
                <rule name="封面页">
                    <match url="^(.*)/$" ignoreCase="false" />
                    <action type="Rewrite" url="/page.php\?id={R:1}" />
                </rule>
                <rule name="目录页">
                    <match url="^(.*)/chapter.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/chapter.php\?id={R:1}" />
                </rule>
                <rule name="内容页">
                    <match url="^(.*)/([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/plus/view.php\?aid={R:2}&amp;tdir={R:1}" />
                </rule>
                <rule name="排行榜">
                    <match url="^paihang(\/)?(\.html)?$" ignoreCase="false" />
                    <action type="Rewrite" url="/paihang.php" />
                </rule>
                <rule name="书库1">
                    <match url="^shuku(\/)?(\.html)?$" ignoreCase="false" />
                    <action type="Rewrite" url="/shuku/list_1.html" />
                </rule>
                <rule name="书库2">
                    <match url="^shuku_([0-9]+)_([1-5])\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/shuku/list_{R:2}.html" />
                </rule>
                <rule name="书库3">
                    <match url="^shuku_([0-9]+)_([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/shuku.php\?pages={R:1}&amp;page={R:2}" />
                </rule>
                <rule name="全本1">
                    <match url="^quanben(\/)?(\.html)?$" ignoreCase="false" />
                    <action type="Rewrite" url="/quanben/list_1.html" />
                </rule>
                <rule name="全本2">
                    <match url="^quanben/shuku_([0-9]+)_([1-5])\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/quanben/list_{R:2}.html" />
                </rule>
                <rule name="全本3">
                    <match url="^quanben/shuku_([0-9]+)_([0-9]+)\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/quanben.php\?pages={R:1}&amp;page={R:2}" />
                </rule>
                <rule name="栏目页">
                    <match url="^(qihuan|wuxia|dushi|lishi|youxi|kehuan|paihang)(\/)?(\.html)?$" ignoreCase="false" />
                    <action type="Rewrite" url="/{R:1}/index.html" />
                </rule>
                <rule name="栏目列表页1">
                    <match url="^(\w+)/shuku\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/{R:1}/list_1.html" />
                </rule>
                <rule name="栏目列表页2">
                    <match url="^(\w+)/shuku_([0-9]+)_([1-5])\.html$" ignoreCase="false" />
                    <action type="Rewrite" url="/{R:1}/list_{R:3}.html" />
                </rule>
                <rule name="栏目列表页3">
                    <match url="^(\w+)/shuku_([0-9]+)_([0-9]+).html$" ignoreCase="false" />
                    <action type="Rewrite" url="/catalog_list.php\?id={R:1}&amp;pages={R:2}&amp;page={R:3}" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument enabled="true">
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
