@charset "utf-8";
/* CSS Document */
body{margin:0px;padding:10px}a{color:blue}.zl{color:blue}.zl a{color:blue;font-size:14px;text-decoration:none}ul,li{margin:0px;padding:0px;list-style:none}.red{color:red}.blue{color:blue}